/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.hover {
  transition: all 250ms ease-in-out;
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.hover:hover {
  transform: scale(1.2);
  filter: none;
  --webkit-filter: grayscale(0%);
}

.bio-bg {
  background-image: url("https://previews.123rf.com/images/liligraphie/liligraphie1710/liligraphie171000149/88300698-office-workplace-with-laptop-calendar-book-and-glasses-on-wooden-table-business-background-with-copy.jpg");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 15%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute
}



.skills-bg {
  background-image: url("https://lh3.googleusercontent.com/proxy/uwfucMGQDmeFWhudirEbJupqCAZzTpWELXt9NDKfof1LhaRVkVuPyloNVKGtr-dTvy9bPM3A-mWO2SqgrEM_xYogDG0phUEoDIuw7KcneITEd-gUUs6-BitWnUofxuMpQEyOiQRl6Q2qAnFu6ql7JpEIxBgq8CDy7CSOgg");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 15%;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute
}
