/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.hover {
  transition: all 250ms ease-in-out;
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.hover:hover {
  transform: scale(1.2);
  filter: none;
  --webkit-filter: grayscale(0%);
}

.hover:active{
  transform: scale(1.2);
  filter: none;
  --webkit-filter: grayscale(0%);
}

.bio-bg {
  background-image: url("/office picture.jpg");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 15%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute
}

.skills-bg {
  background-image: url("/skills.png");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 15%;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute
}


.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

